$text: #000000;
$text-menu: #ffffff;
$main: #2d7acc;
$dots: #bebbbb;
$shadow: rgba(0, 0, 0, 0.4);
$active-dots--yellow: #f7bc3b;
$input-border: #636363;

$main-300: rgba(45, 122, 204, 0.3);
$main-700: rgba(45, 122, 204, 0.7);
$main-dark: #1a5594;

$danger: #ff0000;
$success: rgb(91, 184, 93);
$success-light: rgb(113, 198, 114);
