@import "../../styles/colors.scss";
@import "../../styles/animate.scss";
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  margin-top: -2rem;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
  top: 0;

  display: flex;

  justify-content: center;

  & div {
    background: url("../../assets/background.png") no-repeat center center;
    margin-top: -200px;
    width: 100%;
  }
}

.avatar {
  width: 100%;

  display: flex;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 4;
  z-index: -1;
}

.header__titles {
  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 4;
}

.social {
  position: absolute;
  bottom: 32px;
  right: 16px;
}

@media screen and (max-width: 425px) {
  .titles {
    &--main {
      font-size: 2.4rem;
    }

    &--subtitle {
      font-size: 1.4rem;
      text-align: center;
    }

    &--thirdtitle {
      font-size: 1.2rem;
    }
  }
}
