@import "../../styles/colors.scss";
@import "../../styles/animate.scss";
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  margin-top: -2rem;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
  top: 0;

  display: flex;

  justify-content: center;

  & div {
    background: url("../../assets/background.png") no-repeat center center;
    margin-top: -200px;
    width: 100%;
  }
}

.avatar {
  width: 100%;

  display: flex;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 4;
  z-index: -1;
}

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  height: 100%;

  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 4;

  &--main {
    font-size: 3.6rem;
    font-weight: bold;
  }

  &--subtitle {
    font-size: 2rem;
    font-weight: bold;
  }

  &--thirdtitle {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.social {
  position: absolute;
  bottom: 32px;
  right: 16px;
}
