@import "../../styles/colors.scss";

.skills {
  margin: 6rem 3.2rem 0rem;
  position: relative;

  .skills__list {
    cursor: grab;
    overflow: hidden;

    &__inner {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    margin-right: 3rem;

    img {
      pointer-events: none;
    }
  }
}
