@import "../../styles/colors.scss";

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  gap: 2rem;
  padding: 0 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  .project {
    width: 43rem;
    height: 380px;
    flex: none;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;

    img {
      height: 100%;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 9;

      color: $text-menu;
      text-align: center;

      display: flex;
      place-items: center;
      flex-direction: column;
      gap: 2rem;
      padding: 1.6rem;

      h3 {
        font-size: 2.4rem;

        font-weight: bold;
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 999;

  &--left {
    left: 10px;
    z-index: 9999;
  }

  &--right {
    right: 10px;
  }
}

.btn-arrow {
  width: 5rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $main-300;
  border: none;
  color: $text-menu;
  font-size: 3rem;
  border-radius: 999px;

  cursor: pointer;

  &:hover {
    background: $main-700;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background: $main-300;
  }
}
